@import '../../styles/App.css';

.navBar {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns:25% 25% 50%;
    box-shadow: -5px 0.5px 10px black;

    ul {
        margin:auto;
        width: 60%;
        display:grid;
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: center;
        align-items: center;
        height: 70px;
          .link {
            list-style-type: none;
            
            a {
                color:  rgb(124,107, 107);
                text-decoration: none;
            }
            a:hover {
                color: #E9485B;
            }

        }

        .dropdown {
            overflow: hidden;
            display: none;
        }
        .dropdowncontent {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdowncontent a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          .dropdown:hover .dropdown .dropdown-content {
            display: block;
          }
      
    }
}